@use "./config";


.bar-container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    color: config.$MEDIUM_BROWN;
}

.bar {
    // min-width: 100%;
    // display: flex;
}