//Primary
$SOFT_RED: hsl(10, 79%, 65%);
$CYAN: hsl(186, 34%, 60%);

// Neutral
$DARK_BROWN: hsl(25, 47%, 15%);
$MEDIUM_BROWN: hsl(28, 10%, 53%);
$CREAM: hsl(27, 66%, 92%);
$VERY_PALE_ORANGE: hsl(33, 100%, 98%);